@import '../init/init';

.About {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1 {
      font-size: 42px;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 22px;
      font-weight: 500;
    }
  }
  &__chatbox {
    max-height: 500px;
    overflow: scroll;
  }
  &__message-container {
    width: 400px;
    padding-top: 12px;
  }
  &__intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__intro,
  &__chatbox {
    flex: 0 0 40%;
  }
}
