@import '../init/mixins';

.Members {
  &--page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    @include horizontal-margin(auto);
  }
  &__toggle {
    justify-self: center;
  }
}
