@import '../init/init';

.Members {
  &__hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: $gray4;
    color: $white;
    // background: linear-gradient(to bottom right, $a-blue, $a-purple);
    h1 {
      font-weight: bold;
      // @include setFontHighlight;
    }
    p {
      margin-bottom: 25px;
    }
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    @include horizontal-margin(auto);
  }
  &__toggle-container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    span {
      user-select: none;
      color: $gray1;
    }
    span.active {
      font-weight: bold;
    }
  }
}
