@import '../init/mixins';
@import '../components/hero';

.Members {
  &--page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    @include horizontal-margin(auto);
  }
  &__toggle-container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    span {
      user-select: none;
    }
    span.active {
      color: blue;
    }
  }
}
