// Init: Colors
// ===================================================

// Grayscale Colors
$white: #fff;
$white2: #f4f4f4;

$gray1: #d8d8d8;
$gray2: #4a4a4a;
$gray3: #333;

$black: #000;

$adelie-blue: #6089ff;
$adelie-purple: #ff5ff9;
$adelie-gray: $gray8;
