// Init: Colors
// ===================================================

// Grayscale Colors
$white: #fff;
$white2: #f4f4f4;

$gray1: #d8d8d8;
$gray2: #4a4a4a;
$gray3: #333;
$gray4: #1A1A19;

$black: #000;

$a-blue: #6089ff;
$a-blue-dark: darken($a-blue, 60);
$a-purple: #ff5ff9;
$a-purple-dark: darken($a-purple, 50);
$a-gray: $gray3;
