@import 'init/init';

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  font-family: 'Noto Sans', sans-serif;
  height: 40px;
  // margin-bottom: 20px;
  background: $a-blue-dark;
  @include horizontal-padding(15px);
  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: $white;
    @include setFontHighlight;
  }
  &__logo {
    max-height: 24px; 
    margin-right: 8px;
  }
  &__nav-items {
    list-style: none;
    float: right;
  }
  &__nav-link {
    display: inline-block;
    margin-right: 1rem;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}