.MemberCard {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 10% auto;
  padding: 15px;
  padding-bottom: 45px;
  font-family: 'Noto Sans', sans-serif;

  // Roster
  &--roster {
    flex: 0 0 20%;
    border-radius: 3px;
    align-items: center;
    .MemberCard__content {
      display: none;
    }
  }

  &--details {
    flex: 0 0 30%;
    border: 1px solid gray;
  }

  &__photo {
    border-radius: 100%;
    max-height: 120px;
    max-width: 120px;
    margin-bottom: 20px;
    align-self: center;
  }

  &__name {
    margin-bottom: 10px;
    .MemberCard--roster & {
      font-size: 20px;
    }
    .MemberCard--details & {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__social-wrapper {
    position: absolute;
    bottom: 15px;
  }

  &__social-item {
    display: inline;
    margin-right: 5px;
  }

  &__content {
    margin-bottom: 15px;
  }

  &__social-image {
    height: 25px;
  }
}
